.art-card-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width on mobile */
  max-width: 300px; /* Limit maximum width */
  color: #fedcae;
  padding: 2px;
  background: rgb(168, 255, 255, 0.2);
  background: linear-gradient(
    180deg,
    rgba(168, 255, 255, 1) 5%,
    rgba(169, 231, 240, 1) 22%,
    rgba(175, 143, 187, 1) 100%
  );
}

.art-card-image {
  width: 100%;
}

.art-card-title h2 {
  padding: 0;
  margin: 0;
  font-size: var(--fs-md);
  text-align: center;
}

.art-card-title {
  margin: var(--space-sm) 0;
  padding: 0 var(--space-xs);
  width: 100%;
}

.art-card-image img {
  width: 100%;
  height: auto;
  max-height: 18rem;
  object-fit: cover;
  display: block;
}

.art-card-gradient-outline {
  border: 0.14em solid transparent;
  border-image: linear-gradient(
      90deg,
      rgba(254, 223, 178, 1) 40%,
      rgba(150, 255, 249, 1) 100%
    )
    1;
}

/* Desktop adjustments */
@media (min-width: 480px) {
  .art-card-main {
    width: calc(50% - var(--space-md));
  }
}

@media (min-width: 768px) {
  .art-card-main {
    width: calc(33.33% - var(--space-md));
    max-width: 350px;
  }
}
