.project-card-main {
  color: white;
  padding: var(--space-sm);
  margin: var(--space-md) 0;
  display: flex;
  flex-direction: column; /* Stack vertically on mobile */
  width: 100%;
  background: rgba(255, 255, 255, 0.13);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.project-card-main a,
.project-card-main p {
  margin: 0;
}

.project-card-left {
  width: 100%; /* Full width on mobile */
  padding: var(--space-sm);
}

.project-card-title {
  font-size: var(--fs-md);
  text-decoration: none;
  color: #fedcae;
  cursor: pointer;
  display: block;
  margin-bottom: var(--space-xs);
}

.project-card-subtitle {
  color: #a8ffff;
  font-size: var(--fs-sm);
  margin-bottom: var(--space-xs);
}

.project-card-description {
  text-align: justify;
  font-size: var(--fs-sm);
}

.project-card-right {
  width: 100%; /* Full width on mobile */
  padding: var(--space-sm);
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card-image {
  max-height: 18rem;
  width: 100%;
  object-fit: cover;
}

.project-card-gradient-outline {
  border: 0.24em solid transparent;
  border-image: linear-gradient(
      90deg,
      rgba(254, 223, 178, 1) 40%,
      rgba(150, 255, 249, 1) 100%
    )
    1;
}

/* Desktop layout */
@media (min-width: 768px) {
  .project-card-main {
    flex-direction: row;
    width: 90%;
  }

  .project-card-left {
    width: 50%;
    padding: var(--space-md);
  }

  .project-card-right {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .project-card-main {
    width: 80%;
  }
}
